/* Mobile */

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: grid;
    width: 100%;
}
html{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

#pageHeader {
    background-color: #001759;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    margin-bottom: 20px;
    min-height: 50px;
}

#logo{
    display: none;
    width:15vw;
}

h1{
    align-self: center;
    color: azure;
    font-size: 3rem;
    justify-self: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 3px 5px #526495;
}
h2{
    margin-top: 15px;
    justify-self: center;
    text-align: center;

}
p{
    align-content: center;
}
button{
    align-self: center;
    justify-self: end;
    display: none;
}

nav{
    align-self: center;
    justify-self: center;
    display: none;
    font-size: 1em;
}

a{
    border-bottom: #001759;
    border-radius: 1px -1px 10px 2px #526495;
    color: azure;
    text-decoration: none;
}

img{
    align-items: center;
    margin: 20px;
    width: 45vw;
}

#content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    grid-row: 1em;
    justify-items: end;
    margin-left: 40px;
    margin-right: 40px;

}

#content > div{
    background-color: rgb(238, 238, 238);
}

/* Tablet */

@media only screen and (min-width: 768px) {

    #logo{
        display: initial;
    }
    
    nav{
        display: initial;
    }
}

/* Desktop media query */
@media only screen and (min-width: 1200px) {
    #pageHeader > h1 {
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;    
    }

    #menu{
        align-self: center;
        justify-self: center;
    }

    #logo{
        display: initial;
    }
    
    nav{
        display: initial;
    }
    button{
        display: initial;
    }
}
